*{
    box-sizing: border-box;
    margin: 0;
    font-family: verdana;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #33537f;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 15px;
    background-color: #5986c4;
    z-index: 10;
}

header img {
    width: 70px;
    height: 70px;
    outline: 3px solid #80a6dc;
    border-radius: 50%;
}

header h1 {
    margin: auto;
}

header div {
    width: 70px;
    height: 70px;
}

main {
    top: 100px;
    display: flex;
    width: 100%;
    font-size: 20px;
}

nav {
    float: left;
    width: 15%;
    padding: 30px;
    background-color: #80a6dc;
}

nav ul {
    padding: 5px;
    background-color: #5986c4;
    overflow: hidden;
}

nav li {
    margin: 30px 0;
    text-align: center;
}

nav li a {
    color: #fff;
    padding: 15px;
}

nav li a:hover {
    background-color: #80a6dc;
    border-radius: 50px;
}

article {
    float: right;
    width: 85%;
    padding: 20px;
    border: 3px solid #111;
    background-color: #eee;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    text-align: right;
    background-color: #33537f;
    color: #eee;
}

.content {
    display: flex;
    padding: 20px;
    margin: 30px;
    text-align: justify;
}

main img {
    width: 400px;
    height: 200px;
    margin: 0 20px;
}

main h2{
    text-align: center;
}

.shadow, a:hover {
    width: auto;
    box-shadow: 0 4px 8px 0 #11111133, 0 6px 20px 0 #11111133;
    text-align: center;
  }
