@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: .2em;
    text-decoration: none;
    color: #ddd;
}

.p-1 {
    padding: 2% 1%;
}

.shadow {
    box-shadow: 0 0 10px #222;
}

header, main, footer, header nav, header ul, body {
    display: flex;
}

main {
    flex-grow: 1;
}

html, body {
    height: 100%;
    background-color: #333;
}

body {
    flex-direction: column;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px dashed #fff;
}

header i {
    font-size: 2.5em;
    margin: 10px 30px;
}

header nav {
    padding: 10px 10px;
    border: 2px solid #555;
    border-radius: 10px 0 0 10px;
}

header nav a {
    padding: 10px 30px;
}

header nav a:hover {
    color: #222;
    background-color: #eee;
    border-radius: 50px;
}

header nav ul{
    list-style-type: none;
}

aside {
    width: 25%;
    border-right: 2px dashed #fff;
    font-size: .9em;
}

/* aside nav {
    position: sticky;
    top: 3%;
} */

aside a:hover {
    color: #fff;
}

aside ul {
    list-style-type: circle;
    position: relative;
}

aside li ul {
    display: none;
}

aside ul, aside li {
    width: 150px;
    margin-bottom: 20px;
}

aside li:hover {
    color: #fff;
    cursor: default;
    text-decoration: underline;
}

aside li:hover > ul {
    display: inline-block;
    position: absolute;
    left: 150px;
}

section {
    padding: 2%;
    width: 75%;
}

article p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    justify-content: center;
    background-color: #222;
    width: 100%;
    padding: 20px;
}

.socialMedia i {
    font-size: 30px;
    margin: 10px;
}