.container {
    display: grid;
    background-color: blueviolet;
    height: 500px;
    grid-template-columns: 15% auto auto auto 20%;
}

header {
    background-color: lightblue;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

nav {
    background-color: lightcoral;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

main {
    background-color: lightgray;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
}

aside {
    background-color: lightgreen;
    grid-column: 5 / 6;
    grid-row: 2 / 5;
}

footer {
    background-color: lightyellow;
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}