* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial;
}

header,
header nav,
article,
article a,
.content,
.principal,
.info,
.media,
.media div,
footer {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 5px;
    border-bottom: 2px solid black;
    background-color: #ffffffbb;
    z-index: 2;
    left: 10%;
}

header img,
footer img {
    width: 100px;
    height: 100px;
}

header nav {
    justify-content: end;
}

nav li {
    display: inline-block;
    padding: 15px;
}

nav a {
    color: #111;
}

a:hover {
    text-decoration: underline;
}

article {
    margin: 20px;
    padding: 10px;
    background-color: #cec79f79;
    border-radius: 30px;
    flex-direction: column;
}

.info {
    justify-content: space-evenly;
}

.content {
    flex-direction: row;
}

.content div {
    padding: 10px;
}

article a {
    justify-content: flex-end;
    margin-left: 20px;
}

article img {
    width: 250px;
    height: 150px;
}

aside {
    background-color: #cec79f79;
}

.principal {
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding-top: 126px;
}

.widget {
    width: 300px;
    margin: 20px;
}

.media {
    display: flex;
    border-top: 2px solid #111;
    height: 80%;
    justify-content: space-between;
    padding: 20px;
}

.media div {
    flex-direction: column;
    align-items: center;
}

footer {
    justify-content: space-between;
    background-color: #666;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 100px 20px;
}

footer div {
    margin: 0 30px;
}

footer li {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

footer a {
    color: #fff;
}

.actualPage {
    color: #cec79f;
}

iframe {
    margin: 10px;
    width: auto;
}

