@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: .2em;
    text-decoration: none;
    color: #ddd;
}

.p-1 {
    padding: 1%;
}

.m-8 {
    margin: 8% 0%;
}

.shadow {
    box-shadow: 0 0 10px #222;
}

.styleBox {
    padding: 10px 10px;
    border: 2px solid #555;
    border-radius: 10px;
}

header, main, footer, header nav, header ul, body {
    display: flex;
}

main {
    flex-grow: 1;
}

html, body {
    height: 100%;
    background-color: #333;
}

body {
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #222;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 20px;
    margin: 10px;
}

ul {
    list-style-type: none;

}

/* ----------HEADER---------- */

header {
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px dashed #fff;
}

header i {
    font-size: 2.5em;
    margin: 10px 30px;
}

header nav {
    padding: 10px 10px;
    border: 2px solid #555;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

header nav a {
    padding: 10px 30px;
}

header nav a:hover {
    /* color: #222; */
    background-color: #444;
    /* border-radius: 10px; */
}

header nav ul{
    padding: 0;
}

/* ----------FOOTER---------- */

footer {
    flex-direction: column;
    background-color: #222;
    width: 100%;
    padding: 20px;
}

.socialMedia {
    border-bottom: 1px solid #fff;
}

.socialMedia i {
    font-size: 30px;
    margin: 10px;
}

.footerBottom, .terms, .footerBottom ul, .terms span, .footerBottom li, .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.footerBottom, .socialMedia i {
    margin: 20px;
    width: 100%;
}

footer li:hover {
    text-decoration: underline;
}



