@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    --shadow: #222;
    --darkgray: #333;
    --gray: #444;
    --lightgray: #555;
    --font: #ddd;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: .2em;
    text-decoration: none;
    color: var(--font);
}

.p-1 {
    padding: 1%;
}

.m-8 {
    margin: 8% 0%;
}

.m-20 {
    margin: 20px;
}

.shadow {
    box-shadow: 0 0 10px var(--shadow);
}

.styleBox {
    padding: 10px 10px;
    border: 2px solid var(--lightgray);
    border-radius: 10px;
}

header, main, footer, header nav, header ul, body, section {
    display: flex;
}

main {
    flex-grow: 1;
    flex-direction: column;
    padding: 0 30%;
}

html, body {
    height: 100%;
    background-color: var(--darkgray);
}

body {
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--shadow);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

/* ----------HEADER---------- */

header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkgray);
    padding: 20px 0;
    border-bottom: 2px dashed var(--white);
}

header i {
    font-size: 2.5em;
    margin: 10px 30px;
}

header nav {
    padding: 10px 10px;
    border: 2px solid var(--lightgray);
    border-right: none;
    border-radius: 10px 0 0 10px;
}

header nav a {
    padding: 10px 30px;
}

header nav a:hover {
    background-color: var(--gray);
}

header nav ul{
    padding: 0;
}

/* ----------FOOTER---------- */

footer {
    flex-direction: column;
    background-color: var(--shadow);
    padding: 20px;
}

.socialMedia {
    border-bottom: 1px solid var(--white);
}

.socialMedia i {
    font-size: 30px;
    margin: 10px;
}

.footerBottom, .terms, .footerBottom ul, .terms span, .footerBottom li, .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.footerBottom, .socialMedia i {
    margin: 20px;
    width: 100%;
}

footer li:hover {
    text-decoration: underline;
}



