* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main > div {
    text-align: center;   
    width: 280px;
    height: 350px;
    margin: 5px;
    padding: 1.5%;
    border: 1px dashed black;
    border-radius: 30px;
    font-size: 1em;
}

main > div > div:first-child{
    font-size: 1.3em;
    font-weight: 600;
}

main > div > div:last-child{
    padding: 42px;
}

.buttons {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: red;
}

main div:nth-child(1) > div > .box {
    transform: none;
}

main div:nth-child(2) > div > .box {
    transform: matrix(0.866,0.7,-0.8,0.866,0,0);
}

main div:nth-child(3) > div > .box {
    transform: translate(40px, 30px);
}

main div:nth-child(4) > div > .box {
    transform: translateX(-20px);
}

main div:nth-child(5) > div > .box {
    transform: translateY(65px);
}

main div:nth-child(6) > div > .box {
    transform: scale(150%, 100%);
}

main div:nth-child(7) > div > .box {
    transform: scaleX(75%);
}

main div:nth-child(8) > div > .box {
    transform: scaleY(50%);
}

main div:nth-child(9) > div > .box {
    transform: rotate(65deg);
}

main div:nth-child(10) > div > .box {
    transform: rotateX(40deg);
}

main div:nth-child(11) > div > .box {
    transform: rotateY(60deg);
}

main div:nth-child(12) > div > .box {
    transform: rotateZ(330deg);
}

main div:nth-child(13) > div > .box {
    transform: skew(145deg, 340deg);
}

main div:nth-child(14) > div > .box {
    transform: skewX(210deg);
}

main div:nth-child(15) > div > .box {
    transform: skewY(30deg);
}

main div:nth-child(16) > div > .box {
    transform: perspective(145);
}