html {
    font-size: 16px;
}

#idrem {
    font-size: 2rem;
}

#idem {
    font-size: 2em;
}

.box {
    font-size: 10px;
    border: 1px solid black;
}

#idvh {
    font-size: 10vh;
}

#idvw {
    font-size: 4vw;
}