* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    background-color: lightseagreen;
    grid-template-areas:
    'header header  header  header  header  header'
    'menu   menu    main    main    main    aside'
    'menu   menu    main    main    main    aside'
    'menu   menu    main    main    main    aside'
    'footer footer  footer  footer  footer  footer';
    grid-template-columns: 5% 5% auto auto auto 20%;
    height: auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 45px;
}

.title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: lightgray;
    grid-area: header;
}

nav {
    position: sticky;
    top: 110px;
    /* background-color: lightcoral; */
    grid-area: menu;
    margin-left: 20px;
}

main {
    background-color: lightgreen;
    grid-area: main;
    padding: 50px;
}

aside {
    background-color: lightblue;
    grid-area: aside;
    margin-right: 20px;
}

footer {
    background-color: lightpink;
    grid-area: footer;
    height: 300px;
}

aside img {
    width: 100%;
}

.containerRow img {
    width: 33%;
    height: 100%;
}

.containerRow {
    display: flex;
    justify-content: space-evenly;
    object-fit: contain;
}