* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    color: #474747;
}

main, body, header, header nav, header ul, footer, .rowContainer, .search, .buttons, .terms ul, .terms nav, .terms nav div, .justifyLeft, .justifyRight {
    display: flex;
}

main {
    flex-grow: 1;
    font-size: .8em;
    padding: 50px;
}

html, body {
    height: 100%;
}

body {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

/* ---------------- */

header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    font-size: .8em;
    color: rgba(0, 0, 0, .87);
}

header ul {
    align-items: center;
    padding: 10px;
}

header nav {
    height: 50px;
}

header li {
    margin: 5px 10px;
}

.appsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.appsButton:hover {
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
}

.appsButton:hover .appsMenu {
    display: inline;
}

.rowContainer {
    align-items: center;
    padding: 0 2%;
}

.appsMenu {
    display: none;
    position: absolute;
    top: 60px;
    right: 35px;
    padding: 20px;
    border-radius: 40px;
    background-color: #F8FAFD;
    border: 10px solid #ddd;
    box-shadow: 0 0 20px #ccc;
}

.appsMenu img {
    width: 12em;
}

.signin {
    width: 10em;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    background-color: #1A73E8;
    color: #F5E9F7;
}

.signin:hover {
    box-shadow: 0 0 5px #ccc;
    background-color: #196ad4;
}


/* ---------------- */

main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 20em;
}

.search {
    width: 600px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
}

.search:hover {
    box-shadow: 0 0 10px #ccc;
}

.search abbr {
    width: 100%;
}

.search img {
    width: 8em;
    padding-right: 2%;
    border-radius: 50px;
}

.searchIcon {
    margin: 0 20px;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 20px;
}

.searchButton {
    margin: 5px;
    padding: 2% 4%;
    border: 0;
    border-radius: 5px;
    background-color: #F8F9FA;
}

.searchButton:hover {
    box-shadow: 0 2px 5px #ccc;
}

/* ---------------- */

footer {
    display: block;
    background-color: #F2F2F2;
    font-size: .8em;
}

.languages a {
    margin: 0 5px;
    color: #1A0DAB;
}

.terms, .region {
    padding: 15px 30px;
    border-top: 1px solid #ddd;
}

.terms ul {
    padding: 0;
    width: 30%;
}

.terms li {
    margin: 0 2%;
}

.terms nav, .terms nav div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.justifyLeft {
    justify-content: left;
}

.justifyRight {
    justify-content: right;
}

.hoja {
    width: 2em;
}